    

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    max-width: 100%;
    height: 100vh;
    /* background-color: #6e57e0; */
    /* background-repeat: no-repeat;
    background-size: cover; */


    
}

/* topbtn */
.topmove{
    position: fixed;
    right: 20px;
    bottom: 20px;
}
.topbtn{
    width: 30px;
    height: 30px;

    color: #6e57e0;
    text-align: center;
    font-size: 30px;   
}
/* topbtn */
/* slidebar */
@media only screen and (max-width: 600px) {
    .slidebar{
        display: none;
    }
}
.slidebar{
    position: relative;
} 
.slide_menu{
    width: 130px;
    list-style: none; 
    position: fixed;
    top: 250px;
    left: -150px;
    
}
.slide_menu li {
    width: inherit;
    text-align: center;
    background-color: #6e57e0;
    border-radius: 5px;
    padding: 2px;
    margin-bottom: 2px;

    transform: translateX(0px);
    transition: all 1s;
}
.slide_menu li:hover {
    
    transform: translateX(80%);
}
.slide_menu li a{
    text-decoration: none;
    color: #fff;
}
/* slidebar */

/* navbar */
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;

    background-color: #806aef;
}
header .nav_logo a .fa-github-alt{
    color: #eee;
    font-size: 60px;
}
header .nav_logo a .fa-github-alt:hover{
    color: #111;
}


header .navbar_menu{
    display: flex;
    justify-content: center;
    align-items: center;
}

header .navbar_menu li{
    list-style-type: none;
    margin-right: 30px;
}
header .navbar_menu li a{
    color: #eee;
    text-decoration: none;
    font-weight: bold;
}
header .navbar_menu li .active{
    color: #333;
    border: 1px solid #111;
    border-radius: 20px;
    padding: 2px 10px;
}


header .navbar_menu li a:hover{

    font-weight: bold;
    border: 2px solid #fff;
    border-radius: 20px;
    padding: 2px 10px;
}
/* start home */
.home{
    width: 100%;
    height: 100vh;
    /* margin: 0 auto; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.home .container{
    width: 50%;
    /* text-align: center; */
    color: #111;
    font-size: 25px;
}
.home .container div h1 span{
    font-size: 50px;
    color: #6e57e0;
    text-shadow: 5px 5px 10px rgba(0,0,0,0.2);
}
.home .container div .note{
    color: rgba(247, 214, 30, 0.801);
}
.home .container button{
    background-color:#6e57e0;
    font-size: 20px;
    width: 200px;

    border: none;
    padding: 10px;
    border-radius: 10px;
    margin-top: 20px;

}
.home .container button a{
    color: #fff;
    text-decoration: none;
}

.home .home_img{
    width: 50%;
    text-align: center;
}
.home .home_img img{
    width: 500px;
    border-radius: 50%;
}


/* Animation */
.home .leftremove{
    animation-name: myleft;
    animation-duration: 5s;
}
.home .rightremove{
    animation-name: myright;
    animation-duration: 5s;
}
@keyframes myleft {
    from{
        
        opacity: 0;
    }
    to{
    
        opacity: 1;
    }
}

@keyframes myright {
    from{
        transform: translateX(30px);
        opacity: 0;
    }
    to{
        transform: translateX(0px);
        opacity: 1;
    }   
}

/* Animation */
/* end home */

/* Start Prepare */

.prepare{
    text-align: center;
    margin-bottom: 150px;


}
.prepare h1{
    font-size: 40px;
    margin-bottom: 100px;
}
.prepare h1 span{
    
    color: #6e57e0;
    text-shadow: 5px 5px 10px rgba(0,0,0,0.2);
}
  
.cardcontainer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 40px  100px;
}
.cardmain{
    width: 400px;
    height: 28 0px;
    text-align: center;
    background-color: #6e57e0;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.4);

    margin: 0 auto;
    
    border-radius: 10px;

    padding: 20px;

}

.cardmain p{
    color: #ffbf1f;
}

.cardmain h2{
    color: #fff;
    margin-bottom: 10px;
}

.cardmain ul{
    text-align: justify;
    list-style: none;
    color: #333;
}

.cardmain ul li{
    font-size: 20px;
    margin-bottom: 10px;
}
.cardmain ul li input{
    
    margin-right: 10px;
}
.cardmain:hover{
    box-shadow: 5px 5px 10px rgba(0,0,0,0.6);
    transform: translateY(-10px);
}

/* End Prepare */

/* Start Study */
.study{
    display: grid;
    place-items:center;

}
.study h1{
    font-size: 40px;
}
.study h1 span{
    
    color: #6e57e0;
    text-shadow: 5px 5px 10px rgba(0,0,0,0.2);
}

.caro{
    position: relative;
}
.caro-item{
    text-align: center;
    padding: 100px;
}



.caro-control-prev,.caro-control-next{
    color: #bbb;
    font-size: 25px;
    padding: 20px;

    position: absolute;
    top: 50%;

    transform: translateY(-50%);
}

.caro-control-prev{
    left: 0;
}
.caro-control-next{
    right: 0;
}

.caro-control-prev:hover{
    animation-name: forleft;
    animation-duration: .5s;
}

.caro-control-next:hover{
    animation-name: forright;
    animation-duration: .5s;
}

@keyframes forleft {
    from{
        left: 0;
        opacity: 0.5;
    }
    to{
        left: -10px;
        opacity: 1;
    }
}

@keyframes forright {
    from{
        right: 0;
        opacity: 0.5;
    }
    to{
        right: -10px;
        opacity: 1;
    }
}

.caro-item img{
    width: 200px;
}

.caro-item h2{
    margin-bottom: 10px;
    color: #ffbf1f;
    text-transform: capitalize;
}
.caro-item p{
    font-weight: bolder;
}
/* Start End */


/* Start Advice */
.advice{
    margin-top: 50px;
}
.advice h1{
    text-align: center;
    margin-bottom: 30px;
}

.advice h1 span{
    text-shadow: 5px 5px 10px rgba(0,0,0,0.2);
    color: #6e57e0;
}
.advice .box{
    margin: 0 auto;
    width: 600px;
}
.advice .advicecontainer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.advice .boximg{
    animation-name: boxani;
    animation-duration: 5s;
}
@keyframes boxani {
    0%{
        opacity: 0;
    }
    50%{
        opacity: 0.5;
    }
    100%{
        opacity: 1;
    }
}
.advice .boximg img{
    width: 500px;
}

.box .boxhead{
    color: #eee;
    background: #6e57e0;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.6);
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 5px 30px;
}

.box .boxhead i{
    font-size: 25px;
}
.box .boxmain{
    font-size: 20px;
    height: 0;
    text-align: justify;

    margin-top: 10px;
    padding: 0 20px;
    overflow: hidden;
    transition:  0.5s ease-in-out;
}

.box .boxmain ul{
    list-style: square;
    list-style-position: inside;
}
/* End Advice */



/* Start Footer */
footer{
    margin-top: 150px;
}
footer .message{
    text-align: center;
    margin-bottom: 50px;
}

footer .message h1{
    font-size: 30px;
    color: #806aef;
    margin-bottom: 15px;
}

footer .message .mail{
    width: 400px;

    border: 2px solid #6e57e0;
    border-radius: 10px;
    margin: 0 auto;
    padding: 10px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer .message .mail .email{
    border: none;
    font-weight: bold;
    font-size: 15px;
}

footer .message .mail .email:hover{
    cursor: pointer;
}
footer .message .mail .mail_btn{
    width: 80px;
    background-color: #6e57e0;
    color: #fff;

    border: none;
    border-radius: 10px;
    padding: 3px 5px; 
    
}
footer .message .mail .mail_btn:hover{
    cursor: pointer;
}

footer .message2 {
    width: 500px;
    
    margin: 50px auto;
    text-align: center;
}
footer .message2 ol{
    list-style: none;
}
.carousel-item img{
    width: 400px;
    height: 300px;
}
footer .message2 .content{
    margin-top: 20px;
}
footer .message2 .content h1{
    font-size: 30px;
    margin-bottom: 10px;
}
footer .message2 .content h1 span{
    color: #6e57e0; 
}
footer .message2 .content a{
    text-decoration: none;
    color: #111;
}

footer .message2 .content  ul{
    list-style-type: none;
    margin-top: 10px;
    letter-spacing: 5px;
}
footer .message2 .content  ul li i{
    color: #6e57e0;
}

.message3{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 30px 0px;

    background-color: #806aef;
}

.message3 .nav_logo a .fa-github-alt{
    color: #eee;
    font-size: 60px;
}
.message3 .nav_logo a .fa-github-alt:hover{
    color: #111;

}

.message3 .navbar_menu{
    display: flex;
    justify-content: center;
    align-items: center;
}

.message3 .navbar_menu li{
    list-style-type: none;
    margin-right: 30px;
}
.message3 .navbar_menu li a{
    font-size: 30px;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.message3 .navbar_menu li a:hover{
    color: #333;
}
/* End Footer */

.dropdown{
    display: none;
}
@media only screen and (max-width: 1200px) {
    .dropdown{
        display: block;
    }
     .navbar_menu{
        opacity: 0;
    }  
   body{
     margin: 0 auto;
   }
    header .navbar_menu{
        font-size: 8px;
    }  
        header .navbar_menu li a:hover{
        font-weight: 0;
        border: 0;
        border: 1px solid #111;
        padding: 2px;
        border-radius: 2px;
    }
    .home{
        /* height: 800px; */
        /* display: grid;
        place-items: center; */
        display: flex;
        flex-direction: column;
    }
    .home .container{
        width: 100%;
        font-size: 20px;
        text-align: center;
    }
    .home .home_img{
        width: 100%;
    }
    .home .home_img img{
        width: 300px;
    }
    
    .cardcontainer{
        display: flex;
        flex-wrap: wrap;
    }

    .cardmain{
        /* height: 30px; */
        margin: 20px auto;
        padding: 10px 0; 
    }

    .study{
        margin: 0 20px;
    }

    .study h1{
        font-size: 25px;
        margin-bottom: 0px;
    }

    .advice{
        margin: 0 20px;
    }
    .advice .advicecontainer{
        display: flex;
        flex-direction: column-reverse;
        flex-wrap: wrap;
    }

    .advice .box{
        width: 400px;
    }
    .advice .boximg img{
        width: 300px;
        margin: 20px auto;
    }

    .carousel-item img{
        width: 300px;
        height: 200px;
    }
    .message2 .content p{
        font-size: 12px;
    }


    
}

@media only screen and (max-width: 600px) {
    header .navbar_menu{
        font-size: 8px;
    } 
}